html {
    height: 120%;
    overflow: auto;
    font-family: 'Courier New', monospace;
    background-color: #940000;

}

.greyDiv {
    border-radius: 5px;
    padding: 20px;
  }

.head {
  background-color: #f9f9f9;
  text-align: center;
  overflow: hidden;
}

.head a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* This is the background color for the nav bar */
.topnav {
    background-color: #292929;
    overflow: hidden;
}

/* Styling elements for the links inside the nav bar */
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Changes the color of the link when you hover over it */
.topnav a:hover {
    background-color: #174347;
    color: rgb(255, 255, 255);
}
/* Add a color to the active/current Link */
.topnav a.active {
    background-color: #1c8f9a;
    color: white;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #164161;
    font-size: 45px;
}

h2 {
    text-align: left;
    font-size: 30px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

h4 {
  text-align: left;
  color: #164161;
  font-size: 30px;
}

p {
    text-align: left;
    font-size: 22px;
}

.button-center {
    text-align: center;
}

.button {
    background-color: #256b72;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
}

/* color change when mouse hovers over button */ 
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

#printSong {
    text-align: center;
    font-size: 45px;
   }
#printSongList {
    text-align: center;
    font-size: 45px;
   }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 4%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }

  /* Styling elements for forms, primarily used on add song page */
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  


  .divForPlayer {
    background-color: #292929;
    text-align: center;
    padding: 20px;
    display: none;
  }